@using SAPSec.Core.Model
@using SAPSec.Web.ViewModels

@model SchoolInfoViewModel
@{
    Layout = "_Layout";
}

<span class="govuk-caption-xl">@Model.Name</span>
<h1 class="govuk-heading-xl">Attendance</h1>

<p class="govuk-body">
    Attendance information for this primary school will appear here.
</p>
