@using SAPSec.Core.Model
@model SchoolDetails
@{
    Layout = "_Layout";
}

<span class="govuk-caption-xl">@Model.Name</span>
<h1 class="govuk-heading-xl">KS2</h1>

<p class="govuk-body">
    KS2 information for this primary school will appear here.
</p>
