@using SAPSec.Core.Model
@model SchoolDetails
@{
    Layout = "_Layout";
    ViewData["Title"] = "KS2 performance measures";
}

<div class="app-school-page">
    <span class="govuk-caption-xl">@Model.Name</span>
    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <p class="govuk-body">
        Compare this school's KS2 performance measures with:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li><b>50</b> similar primary phase schools (including all-throughs)</li>
        <li>the local authority average</li>
        <li>the national average</li>
    </ul>

    <p class="govuk-body">
        Find out <a href="/school/primary/@Model.Urn/what-is-a-similar-school" class="govuk-link">how DfE defines what a similar school is</a>.
    </p>

   <partial name="_Ks2ProgressRWMInfo" />

</div>