@import "../../node_modules/govuk-frontend/dist/govuk/index";
@import "../../node_modules/accessible-autocomplete/dist/accessible-autocomplete.min";


//.school-search-suggester-wrapper {
//    position: relative;
//    margin-bottom: 4rem;
//    width: 500px;
//}

.govuk-input__suffix {
  &.govuk-input__suffix__button {
    border: 0;
    background: none;
    padding-left: 0;
    margin-top: -1px;

    > .govuk-button {
      margin: 0;
      background-color: govuk-colour("blue");

      > img {
        filter: invert(1);
      }

      &:focus {
        > img {
          filter: invert(0);
        }

        &:hover {
          background-color: govuk-colour("yellow");
        }
      }
    }
  }
}

.govuk-input-autocomplete {
  width: 411px;

  @include govuk-media-query($from: tablet) {
    width: 586px;
  }
}

.govuk-header__link .govuk-header__logotype {
  height: 30px;
  padding-top: 0px;
}

.govuk-header__container {
  display: flex;         
  align-items: center; 
  justify-content: flex-start; 
  flex-wrap: wrap; 
}

.govuk-header__content {
  margin-left: auto;   
}

.govuk-header__navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -20px;
    align-items: center; 
}

.header-right-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.govuk-header__content {
  display: flex;
  align-items: center;
  margin-left: 0; 
}

@media (max-width: 768px) { 
  .govuk-header__navigation {
  margin-top: -7px;
  }
}

@media (max-width: 40.0625em) { 
  .govuk-header__navigation {
    flex-direction: column;
    width: 100%;
  }

  .govuk-header__navigation-item {
    width: 100%;
  }
}

.app-card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.app-card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3 / 2;
    overflow: hidden; 
}

.app-card__icon {
    width: 75%;      
    max-height: 60%;
}


/* Color variants for image section only */
.app-card__image--compare {
    background-color: #D4ECEA;
}

.app-card__image--connect {
    background-color: #BBD4EA;
}

.app-card__image--details {
    background-color: #E5E6E7;
}


/* Content section - white background */
.app-card__content {
    background-color: #ffffff;
    flex-grow: 1;
    padding-top: 20px;
}

.app-card__heading {
    margin-bottom: 15px !important;
    font-size: 19px;
    line-height: 25px;
}

.app-card__link:visited {
    color: #1d70b8;
}

.app-card__link:hover {
    color: #003078;
}

/* Clickable overlay - contained within .app-card */
.app-card__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Ensure proper grid spacing */
.govuk-grid-row {
    margin-right: -15px;
    margin-left: -15px;
}

.govuk-grid-column-one-third {
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 40.0625em) {

    .app-card__image {
        aspect-ratio: 2 / 1;
    }

    .app-card__heading {
        margin-bottom: 10px !important;
        font-size: 16px;
        line-height: 20px;
    }

    .app-card__content {
    padding-top: 15px;
    }
    
}



@media (min-width: 40.0625em) {
    .govuk-grid-column-one-third {
        width: 33.3333%;
        float: left;
    }
}

/* Clear floats */
.govuk-grid-row::after {
    content: "";
    display: block;
    clear: both;
}

.app-filter-section {
    border-bottom: 1px solid $govuk-border-colour;
    margin-bottom: govuk-spacing(3);
}

.app-filter-section__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: govuk-spacing(2) 0;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    @include govuk-font($size: 19);

    &:hover {
        color: govuk-colour("blue");
    }

    &:focus {
        outline: 3px solid govuk-colour("yellow");
        outline-offset: 0;
        background-color: govuk-colour("yellow");
    }
}

.app-filter-section__title {
    @include govuk-font($size: 19, $weight: bold);
}

.app-filter-section__indicator {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.app-filter-section__toggle[aria-expanded="false"] .app-filter-section__indicator {
    transform: rotate(180deg);
}

.app-filter-section__content {
    padding-bottom: govuk-spacing(3);
}

.app-filter-section__content[hidden] {
    display: none;
}
