<h2 class="govuk-heading-m" id="attainment8-heading">Attainment 8</h2>
<details class="govuk-details app-ks4-copy govuk-!-margin-bottom-4 app-ks4-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Information about Attainment 8</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body-s govuk-!-margin-bottom-2">
            Attainment 8 is used to assess a pupil's achievement across their best performing 8 subjects.
        </p>
        <p class="govuk-body-s govuk-!-margin-bottom-2">
            The 8 subjects that are used in Attainment 8 are split into 3 groups:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-2 app-ks4-copy-list">
            <li>
                EBacc qualifications, which are both double weighted:
                <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                    <li>English, if both language and literature are taken</li>
                    <li>Maths</li>
                </ul>
            </li>
            <li>EBacc subjects, which include sciences, geography, history, and languages</li>
            <li>Open group subjects, which can include GCSEs or vocational qualifications (including any other approved GCSEs or vocational qualifications)</li>
        </ul>
        <p class="govuk-body-s govuk-!-margin-bottom-2">
            Each GCSE grade is given a points score, for example grade 9 = 9 points, grade 8 = 8 points, and so on. The score from the best 8 subjects (with English and maths counting twice) are added together to give an Attainment 8 score.
        </p>
        <p class="govuk-body-s govuk-!-margin-bottom-0">
            If a student scores high grades across these subjects, their Attainment 8 score will be higher. The maximum score a pupil can have is 90.
        </p>
    </div>
</details>
