@{
    ViewData["Title"] = "Connect school";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Connect school</h1>

        <p class="govuk-body">Connect a Similar school to view.</p>

        <p class="govuk-body">Content coming soon...</p>
    </div>
</div>