html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.govuk-header__link .govuk-header__logotype {
    height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype {
    content: url(/public/images/department-for-education_black.png);
    height: 30px;
}

.govuk-input__suffix {
    &.govuk-input__suffix__button {
        border: 0;
        background: none;
        padding-left: 0;
        margin-top: -1px;

        > .govuk-button {
            margin: 0;
            background-color: govuk-colour("blue");

            > img {
                filter: invert(1);
            }

            &:focus {
                > img {
                    filter: invert(0);
                }

                &:hover {
                    background-color: govuk-colour("yellow");
                }
            }
        }
    }
}