@using SAPSec.Web.Constants
@{
    ViewData[ViewDataKeys.Title] = PageTitles.ErrorAccessDenied;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You do not have access to compare and find schools</h1>

        <p class="govuk-body">
            To use this service you need to add it to your DfE Sign-in organisations.
        </p>

        <p class="govuk-body">
            Log into your Dfe Sign-in account and add Compare and find schools to your organisation.
        </p>

        <p class="govuk-body">
            Get more <a href="https://www.gov.uk/guidance/dfe-sign-in-help-for-educational-establishments" target="_blank" class="govuk-link">help with DfE Sign-in(opens in new tab)</a>.
        </p>


    </div>
</div>