@{
    ViewData["Title"] = "Access denied";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You do not have access to Get school improvement insights</h1>

        <p class="govuk-body">
            You must <a href="https://services.signin.education.gov.uk/request-organisation/search" class="govuk-link">assign your DfE Sign-in to an organisation</a> to use this service.
        </p>

        <div class="govuk-!-margin-top-6">
            Get More <a href="https://help.signin.education.gov.uk/" class="govuk-link">help with DfE Sign-in(opens in new tab)</a>
        </div>
    </div>
</div>