@{
    ViewData["Title"] = "Access denied";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You do not have access to Get school improvement insights</h1>

        <p class="govuk-body">
            To use this service you need to add it to your DfE Sign-in organisations.
        </p>


        <p class="govuk-body">
            Log into your <a href="https://help.signin.education.gov.uk/" class="govuk-link">DfE Sign-in</a> account and compare and find similar schools to your organisation.
        </p>

        <div class="govuk-!-margin-top-6">
            Get More <a href="https://help.signin.education.gov.uk/" class="govuk-link">help with DfE Sign-in(opens in new tab)</a>
        </div>
    </div>
</div>