@using SAPSec.Core.Model
@using SAPSec.Web.Constants
@using SAPSec.Web.Helpers
@using SAPSec.Web.Services
@using SAPSec.Web.ViewModels
@inject IFeatureFlagService FeatureFlagService
@{
    var school = ViewData["SchoolDetails"] as SAPSec.Core.Model.SchoolDetails;
}
@{
    Layout = "Views/Shared/_Layout";
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var urnValue = school?.Urn ?? ViewContext.RouteData.Values["urn"]?.ToString() ?? string.Empty;
    var isPrimarySchool = school?.PhaseOfEducation.HasValue == true
        && string.Equals(school.PhaseOfEducation.Value, "Primary", StringComparison.OrdinalIgnoreCase);
    var isPrimarySchoolsEnabled = await FeatureFlagService.IsEnabledAsync(FeatureFlags.EnablePrimarySchools);
    var navigation = SchoolSideNavigationViewModel.Create(Url, urnValue, currentAction, isPrimarySchoolsEnabled, isPrimarySchool);
}
@section Breadcrumbs {
    <nav class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "SchoolSearch")">Home</a>
            </li>
        </ol>
    </nav>
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("SchoolSideNavigation", navigation)

    <div class="app-body-container-with-side-navigation">
        @RenderBody()
    </div>
</div>
