@using SAPSec.Core.Model
@using SAPSec.Web.Helpers
@model SchoolDetails
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name.Display();
}

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
<p class="govuk-body">
    We've identified <strong>50</strong> similar secondary phase schools to help you:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>compare performance data</li>
    <li>find improvement opportunities</li>
    <li>connect with school leaders and share insights</li>
</ul>

<p class="govuk-body">
    We use 10 characteristics to find schools similar to yours. Similar schools will not 
    match every characteristic but they will be similar across a large number of them.
</p>
<p class="govuk-body">
    Find out more about <a href="/school/@Model.Urn.Display()/what-is-a-similar-school" class="govuk-link">how the DfE defines what a similar school is</a>.
</p>

<h2 class="govuk-heading-m govuk-!-padding-top-6">Compare school performance</h2>
<p class="govuk-body">
    Explore this school's performance data across all education phases and compare:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>similar school averages</li>
    <li>local averages</li>
    <li>national averages</li>
</ul>

<h2 class="govuk-heading-m govuk-!-padding-top-6">View similar schools to connect with</h2>
<p class="govuk-body">
    Review the full list schools you've matched with individually to compare their 
    performance and find top-performing schools with similar characteristics. After 
    finding the right match, use their contact details to connect with them.
</p>