@using System.Text.Json
@using SAPSec.Web.ViewModels

@model Ks4CoreSubjectsPageViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "KS4 core subject GCSE results";
}

<div class="app-ks4-school-page">
<span class="govuk-caption-xl">@Model.SchoolDetails.Name</span>
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<p class="govuk-body">
    Compare this school's GCSEs in KS4 core subjects with:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li><b>50</b> similar secondary phase schools (including all-throughs)</li>
    <li>the local authority average</li>
    <li>the national average</li>
</ul>

<p class="govuk-body">
    Find out <a href="/school/@Model.SchoolDetails.Urn/what-is-a-similar-school" class="govuk-link">how DfE defines what a similar school is</a>.
</p>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "english-language",
    HtmlPrefix = "english-language-2",
    Title = "English language",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.EnglishLanguage,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "english-literature",
    HtmlPrefix = "english-literature-2",
    Title = "English Literature",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.EnglishLiterature,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "maths",
    HtmlPrefix = "maths-2",
    Title = "Mathematics",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.Maths,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "combined-science-double-award",
    HtmlPrefix = "combined-science-2",
    Title = "Combined science (double award)",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.CombinedScienceDoubleAward,
    GradeOptions = [
        new("4", "Grade 4-4 and above"),
        new("5", "Grade 5-5 and above"),
        new("7", "Grade 7-7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "biology",
    HtmlPrefix = "biology-2",
    Title = "Biology",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.Biology,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "chemistry",
    HtmlPrefix = "chemistry-2",
    Title = "Chemistry",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.Chemistry,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "physics",
    HtmlPrefix = "physics-2",
    Title = "Physics",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.Physics,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

</div>

@section Scripts {
    <script src="~/js/chart.umd.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chart-factory.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/data-view-switcher.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/similar-schools-tabs-mobile-fix.js" asp-append-version="true" add-nonce="true"></script>
}
