@using System.Text.Json
@using SAPSec.Web.ViewModels

@model Ks4CoreSubjectsPageViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "KS4 core subject GCSE results";
}

<div class="app-ks4-school-page">
<span class="govuk-caption-xl">@Model.SchoolDetails.Name</span>
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<p class="govuk-body">
    Compare this school's GCSEs in KS4 core subjects with:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li><b>50</b> similar secondary phase schools (including all-throughs)</li>
    <li>the local authority average</li>
    <li>the national average</li>
</ul>

<p class="govuk-body">
    Find out <a href="/school/@Model.SchoolDetails.Urn/what-is-a-similar-school" class="govuk-link">how DfE defines what a similar school is</a>.
</p>

<section aria-labelledby="english-language-2-heading" class="app-ks4-attainment govuk-!-margin-top-9">
    <h2 class="govuk-heading-m" id="english-language-2-heading">English language</h2>
    <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="english-language-2-grade">Grade</label>
            <select class="govuk-select"
                    id="english-language-2-grade"
                    name="english-language-2-grade"
                    data-view-switcher="true"
                    data-endpoint="@Url.Action("Ks4CoreSubjectsData", "School", new { urn = Model.SchoolDetails.Urn, subject = "english-language" })"
                    data-query-key="grade"
                    data-bar-chart-id="english-language-2-school-chart"
                    data-line-chart-id="english-language-2-school-yearbyyear-chart"
                    data-cell-attribute="data-english-language-2-cell"
                    data-cell-prefixes='{"thisSchool":"this","similarSchools":"similar","localAuthority":"la","england":"england"}'
                    data-series-keys='["thisSchool","similarSchools","localAuthority","england"]'
                    data-top-performers-table-id="english-language-2-top-performers-table"
                    data-top-performer-base-url="/school/@Model.SchoolDetails.Urn/view-similar-schools">
                    <option value="4" selected>Grade 4 and above</option>
                    <option value="5">Grade 5 and above</option>
                    <option value="7">Grade 7 and above</option>
            </select>
        </div>
    </div>

    <partial name="_Measure2" model=@(new Measure2ViewModel {
        NumberDisplayType = NumberDisplayType.Percentage,
        HtmlPrefix = "english-language-2",
        SchoolDetails = Model.SchoolDetails,
        Subject = Model.EnglishLanguage
    })/>
</section>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "english-literature",
    HtmlPrefix = "english-literature-2",
    Title = "English Literature",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.EnglishLiterature,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "maths",
    HtmlPrefix = "maths-2",
    Title = "Mathematics",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.Maths,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "combined-science-double-award",
    HtmlPrefix = "combined-science-2",
    Title = "Combined science (double award)",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.CombinedScienceDoubleAward,
    GradeOptions = [
        new("4", "Grade 4-4 and above"),
        new("5", "Grade 5-5 and above"),
        new("7", "Grade 7-7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "biology",
    HtmlPrefix = "biology-2",
    Title = "Biology",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.Biology,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "chemistry",
    HtmlPrefix = "chemistry-2",
    Title = "Chemistry",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.Chemistry,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

<partial name="_Measure" model=@(new MeasureViewModel { 
    Key = "physics",
    HtmlPrefix = "physics-2",
    Title = "Physics",
    SchoolDetails = Model.SchoolDetails,
    Subject = Model.Physics,
    GradeOptions = [
        new("4", "Grade 4 and above"),
        new("5", "Grade 5 and above"),
        new("7", "Grade 7 and above")
    ]
})/>

</div>

@section Scripts {
    <script src="~/js/chart.umd.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chart-factory.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/data-view-switcher.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/similar-schools-tabs-mobile-fix.js" asp-append-version="true" add-nonce="true"></script>
}
