@using System.Text.Json
@using SAPSec.Web.ViewModels

@model Ks4HeadlineMeasuresPageViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "KS4 headline performance measures";
}

<div class="app-ks4-school-page">
    <span class="govuk-caption-xl">@Model.SchoolDetails.Name</span>
    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <p class="govuk-body">
        Compare this school's  KS4 headline performance measures with:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li><b>50</b> similar secondary phase schools (including all-throughs)</li>
        <li>the local authority average</li>
        <li>the national average</li>
    </ul>

    <p class="govuk-body">
        Find out <a href="/school/@Model.SchoolDetails.Urn/what-is-a-similar-school" class="govuk-link">how DfE defines what a similar school is</a>.
    </p>

    <partial name="~/Views/Shared/_Ks4Progress8Info.cshtml" />

    <tabbed-view html-prefix="stu-tabs">
        <tab-content id="three-year-average" name="Three year average">
            <p>Three year average</p>
        </tab-content>

        <tab-content id="year-by-year" name="Year by year">
            <p>Year by year</p>
        </tab-content>

        <tab-content id="top-performers" name="Top performers">
            <p>Top performers</p>
        </tab-content>

        <tab-content id="table-view" name="Table view">
            <p>Table view</p>
        </tab-content>
    </tabbed-view>

    <section aria-labelledby="attainment8-2-heading" class="app-ks4-attainment">
        <h2 class="govuk-heading-m" id="attainment8-2-heading">Attainment 8</h2>
        <partial name="~/Views/Shared/_Ks4Attainment8Intro.cshtml" />

        <partial name="_Measure2" model=@(new Measure2ViewModel { 
            NumberDisplayType = NumberDisplayType.Number,
            HtmlPrefix = "attainment8",
            SchoolDetails = Model.SchoolDetails,
            Subject = Model.Attainment8,
        })/>
    </section>

    <section aria-labelledby="eng-maths-2-heading" class="app-ks4-attainment">
        <h2 class="govuk-heading-m" id="eng-maths-2-heading">Grade achieved in English and maths GCSEs</h2>

        <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="eng-maths-grade">Grade</label>
                <select class="govuk-select"
                        id="eng-maths-grade"
                        name="eng-maths-grade"
                        data-view-switcher="true"
                        data-endpoint="@Url.Action("Ks4HeadlineMeasures", "School", new { urn = Model.SchoolDetails.Urn })"
                        data-query-key="eng-maths:grade"
                        data-target-id="eng-maths">
                    <option value="4" selected>Grade 4 and above</option>
                    <option value="5">Grade 5 and above</option>
                </select>
            </div>
        </div>

        <partial name="_Measure2" model=@(new Measure2ViewModel { 
            NumberDisplayType = NumberDisplayType.Percentage,
            HtmlPrefix = "eng-maths",
            SchoolDetails = Model.SchoolDetails,
            Subject = Model.EngMaths,
        })/>
    </section>

    <section aria-labelledby="destinations-2-heading" class="app-ks4-attainment">
        <h2 class="govuk-heading-m" id="destinations-heading">Staying in education or entering employment</h2>

        <details class="govuk-details app-ks4-copy govuk-!-margin-bottom-3 app-ks4-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Information about staying in education or entering employment data</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body-s govuk-!-margin-bottom-2">
                    This data shows the number of pupils who either stayed in education, started an apprenticeship, or entered employment for at least two terms after completing key stage 4.
                </p>
                <p class="govuk-body-s govuk-!-margin-bottom-2">
                    The most recent data covers pupils who finished year 11 in 2023. The 3-year average is the average of pupils completed year 11 in 2021,2022 and 2023.
                </p>
            </div>
        </details>

        <div class="app-ks4-filter-row govuk-!-margin-bottom-6">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="destinations-type">Destination</label>
                <select class="govuk-select"
                        id="destinations-type"
                        name="destinations-type"
                        data-view-switcher="true"
                        data-endpoint="@Url.Action("Ks4HeadlineMeasures", "School", new { urn = Model.SchoolDetails.Urn })"
                        data-query-key="destinations:destination"
                        data-target-id="destinations">
                    <option value="all" selected>All destinations</option>
                    <option value="education">Education</option>
                    <option value="employment">Employment and apprenticeships</option>
                </select>
            </div>
        </div>

        <partial name="_Measure2" model=@(new Measure2ViewModel { 
            NumberDisplayType = NumberDisplayType.Percentage,
            HtmlPrefix = "destinations",
            SchoolDetails = Model.SchoolDetails,
            Subject = Model.Destinations,
        })/>
    </section>
</div>

@section Scripts {
    <script src="~/js/chart.umd.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/chart-factory.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/data-view-switcher-2.js" asp-append-version="true" add-nonce="true"></script>
    <script src="~/js/similar-schools-tabs-mobile-fix.js" asp-append-version="true" add-nonce="true"></script>
}
