@using System.Text.Json
@using SAPSec.Web.ViewModels

@model Measure2ViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="measure-content">
            <partial name="_Measure2" model=@Model />
        </div>
    </body>
</html>