@model SAPSec.Web.ViewModels.SchoolViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "View similar schools";
}

<span class="govuk-caption-l">@Model.Name</span>
<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p class="govuk-body">
    This page is under construction.
</p>