@using SAPSec.Core.Model
@using SAPSec.Web.Helpers
@model SchoolDetails
@{
    Layout = "_Layout";
    ViewData["Title"] = "What is a similar school?";
}

<span class="govuk-caption-l">@Model.Name.Display()</span>
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<p class="govuk-body">
    The DfE has identified a group of 50 similar secondary phase schools by comparing schools against criteria based on characteristics such as levels of disadvantage, SEN support, prior attainment, and pupil numbers.
</p>

<h2 class="govuk-heading-s">Criteria used to find similar schools</h2>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Criteria</th>
            <th scope="col" class="govuk-table__header">Description</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">Average KS2 reading and maths score</td>
            <td class="govuk-table__cell">Average KS2 reading and maths scaled score</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cellgovuk-!-font-weight-bold ">Total number of pupils</td>
            <td class="govuk-table__cell">Ages 11-18</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">Pupil stability rate</td>
            <td class="govuk-table__cell">Pupils who remain at the same school throughout the phase</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">Eligibility for Pupil Premium</td>
            <td class="govuk-table__cell">Funding to support disadvantaged pupils</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">Average IDACI score</td>
            <td class="govuk-table__cell">Measure of income deprivation</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">Average POLAR4 quintile</td>
            <td class="govuk-table__cell">Probability of young people entering higher education by area</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">Percentage of pupils with an EHC plan</td>
            <td class="govuk-table__cell">Education, health and care plan</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Percentage of pupils with SEN support</td>
            <td class="govuk-table__cell">SEN pupils without EHC plans</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">Percentage of pupils with EAL</td>
            <td class="govuk-table__cell">English as an additional language</td>
        </tr>
    </tbody>
</table>

<h2 class="govuk-heading-s">Which schools have been identified as similar?</h2>

<p class="govuk-body">
    While schools may not match on every criteria, the schools have matched because they share a large number of them.
</p>

<p class="govuk-body">
    You can <a href="/school/@Model.Urn.Display()/view-similar-schools" class="govuk-link">view all the schools most similar to this one</a> and select individual schools to see its similarity, performance and contact details.
</p>

<h2 class="govuk-heading-s">Annual updates to similar schools data</h2>

<p class="govuk-body">
    As school characteristics such as levels of disadvantage and SEN support change over time, the group of similar schools you are matched with will be updated annually.
</p>

<p class="govuk-body">
    When this update occurs, the 3-year average and year-on-year average for similar schools will also change to show data only from the newest set of similar schools.
</p>