@model SAPSec.Web.ViewModels.SchoolViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "What is a similar school?";
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<p class="govuk-body">
    This page is under construction.
</p>