<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Get school improvement insights</span>
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">@ViewBag.SchoolName</h2>
    </div>
</div>
<p class="govuk-body">This is a legacy page from the old design. This page should redirect to the user's school pulled from their DSI Organisation, however
    users are not currently assigned valid Organisations in DSI. Once this has been fixed this page will disappear.</p>
<p class="govuk-body">For now, <a href="/school/@ViewBag.Urn">click here to view a school page</a>.</p>