@model SAPSec.Web.ViewModels.SchoolSearchResultViewModel[]

<ul class="govuk-list govuk-list--result">
    @foreach (var result in Model)
    {
        <li id="search-result-@result.URN">
            <a href="@Url.Action("Index", "School", new { urn = result.URN })"
               class="govuk-link govuk-link--no-visited-state govuk-heading-s govuk-!-margin-bottom-2">@result.SchoolName</a>
        </li>
    }
</ul>