@using SAPSec.Web.Constants
@using SAPSec.Web.ViewModels
@model SAPSec.Web.ViewModels.SchoolSearchResultsViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.FindOrganisationSchool;
}

@await Html.PartialAsync("_SchoolSearchQuery", new SchoolSearchQueryViewModel
{
    Query = Model.Query,
    HasNoResults = !string.IsNullOrWhiteSpace(Model.Query) && Model.Results.Length == 0
})
@{
    var hasResults = Model.Results.Length > 0;
}

<div class="govuk-grid-row">
    @if (hasResults)
{
    @await Html.PartialAsync("_SchoolSearchFilter", new SchoolSearchFilterViewModel
        {
        Query = Model.Query,
        LocalAuthorities = Model.LocalAuthorities,
        SelectedLocalAuthorities = Model.SelectedLocalAuthorities
        })
}
    <div class="govuk-grid-column-two-thirds">
        @if (hasResults)
        {
            @await Html.PartialAsync("_SchoolSearchResults", Model.Results, new ViewDataDictionary(ViewData)
            {
                { "StartItem", Model.Pagination.StartItem },
                { "EndItem", Model.Pagination.EndItem },
                { "TotalResults", Model.TotalResults }
            })

        @await Html.PartialAsync("_Pagination", Model.Pagination)
        }
    </div>
</div>


@await Html.PartialAsync("_SchoolSearchSuggest", new SchoolSearchSuggesterViewModel
{
    InputElementId = nameof(Model.Query),
    TargetElementId = nameof(Model.Urn),
    IdFieldName = "urn"
})