@using SAPSec.Web.Constants
@using SAPSec.Web.ViewModels
@model SAPSec.Web.ViewModels.SchoolSearchResultsViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.FindOrganisationSchool;
}

@await Html.PartialAsync("_SchoolSearchQuery", new SchoolSearchQueryViewModel
{
    Query = Model.Query
})


<div class="govuk-grid-row">
    @await Html.PartialAsync("_SchoolSearchFilter", new SchoolSearchFilterViewModel
        {
        Query = Model.Query,
        LocalAuthorities = Model.LocalAuthorities,
        SelectedLocalAuthorities = Model.SelectedLocalAuthorities
        })
    <div class="govuk-grid-column-two-thirds">
        @if (Model.Results.Length == 0)
        {
            <p id="search-warning" class="govuk-body-s govuk-!-margin-top-1">
                We couldn't find any schools matching your search criteria.
            </p>
        }
        else
        {
            @await Html.PartialAsync("_SchoolSearchResults", Model.Results, null)
        }
    </div>
</div>


@await Html.PartialAsync("_SchoolSearchSuggest", new SchoolSearchSuggesterViewModel
{
    InputElementId = nameof(Model.Query),
    TargetElementId = nameof(Model.Urn),
    IdFieldName = "urn"
})