<section class="govuk-!-margin-bottom-7 govuk-!-margin-top-9 app-progress" aria-labelledby="progress-rwm-heading">
    <h2 class="govuk-heading-m" id="progress-rwm-heading">Progress score in reading, writing and maths</h2>
    <div class="app-message-panel">
        <p class="govuk-body govuk-!-margin-bottom-0">
            There are no KS1-KS2 progress scores for the academic years 2023/24 and 2024/25, as there is no KS1 baseline available due to COVID-19 disruption.
        </p>
    </div>
</section>
