<section class="govuk-!-margin-bottom-7 govuk-!-margin-top-9 app-ks4-progress" aria-labelledby="progress8-heading">
    <h2 class="govuk-heading-m" id="progress8-heading">Progress 8</h2>
    <details class="govuk-details app-ks4-copy govuk-!-margin-bottom-3 app-ks4-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Information about Progress 8</span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body-s govuk-!-margin-bottom-2">
                Progress 8 shows how much progress a pupil made compared to other pupils with similar prior attainment.
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-2">
                The score shows progress compared to the national average:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-3 app-ks4-copy-list">
                <li>a score of 0 means pupils in this school made similar progress to others with similar starting points</li>
                <li>a score of above 0 means pupils made more progress than average</li>
                <li>a score of below 0 means pupils made less progress than average</li>
            </ul>
            <p class="govuk-body-s govuk-!-margin-bottom-0">
                The confidence interval gives a range of scores the school could have achieved based on the cohort of pupils and natural variation in pupil performance across England.
            </p>
        </div>
    </details>

    <div class="app-ks4-message-panel">
        <p class="govuk-body govuk-!-margin-bottom-0">
            There are no Progress 8 scores for the academic years 2024 to 2025 and 2025 to 2026, as there is no KS2 assessment data available to calculate the baseline. This is due to COVID-19 disruption.
        </p>
    </div>
</section>
