@model SAPSec.Web.ViewModels.Components.PhaseBannerViewModel

<div class="govuk-full-width-container govuk-!-display-none-print">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service. Help us improve it and <a class="govuk-link" href="https://forms.cloud.microsoft/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-QBBClDaMHtAsZDhksQEJa5UQUZHRzRSV1RMMTg2TElGV1ZYNENPTk9SRCQlQCN0PWcu" rel="noreferrer noopener" target="_blank">give your feedback (opens in new tab).</a>
            </span>
        </p>
    </div>
</div>