@using SAPSec.Web.Constants
@{
  ViewData[ViewDataKeys.Title] = PageTitles.TermsOfUse;
}

<h1 class="govuk-heading-xl">Terms and conditions</h1>

<h2 class="govuk-heading-l">Using the service</h2>
<p class="govuk-body">
  By accessing and using Get school improvement insights (the 'Service'), you, as the user, are confirming that you accept these terms and conditions ('General Terms'). This takes effect from the date you first use the Service. If you do not agree to these General Terms, you must not use this Service.
</p>

<h2 class="govuk-heading-l">Information about us</h2>
<p class="govuk-body">
  This service is operated by the Department for Education (DfE) ('we', 'our', or 'us'). We're a central government department and have our registered office at Sanctuary Buildings, 20 Great Smith Street, SW1P 3BT.
</p>

<p class="govuk-body">
  Using the Service to make decisions about your school
</p>
<p class="govuk-body">
  Using information from the Service is one way of finding out more about your school’s performance. You should use a range of information before making any decisions about your school.
</p>

<h2 class="govuk-heading-l">Virus protection</h2>
<p class="govuk-body">
  We make every effort to check and test material at all stages of production. It is always wise for you to run an antivirus programme on all material downloaded from the Internet as we do not guarantee our Service will be secure or free from bugs or viruses. We cannot accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material from this website.
</p>
<p class="govuk-body">
  You must not misuse our Service by knowingly introducing viruses, Trojans, worms, logic bombs or other material that is malicious or technologically harmful.
</p>
<p class="govuk-body">
  You must not attempt to gain unauthorised access to our Service, the server on which our Service is stored or any server, computer or database connected to our Service.
</p>
<p class="govuk-body">
  You must not attack our site through a denial-of-service attack or a distributed denial-of-service attack.
</p>
<p class="govuk-body">
  Each of these acts is a criminal offense. We will report any such offense to the relevant law enforcement authorities and co-operate with them to determine your identity. In the event of such a breach your right to use the Service will cease immediately.
</p>

<h2 class="govuk-heading-l">Disclaimer and liability</h2>
<p class="govuk-body">
  The Get school improvements insights service and content are provided 'as is' and 'as available', without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
</p>
<p class="govuk-body">
  We do not warrant the functions contained in this site will be uninterrupted or error free, that defects will be corrected, or that this site or the server that makes it available are free from viruses or represent the full functionality, accuracy, reliability of the materials. In no event will we be liable for any loss or damage including, without limitation, indirect or consequential loss or damage, or any loss or damages whatsoever arising from use or loss of use of, data or profits arising out of or in connection with the use of Get school improvement insights.
</p>
<p class="govuk-body">
  These terms and conditions shall be governed by and construed in accordance with the laws of England and Wales. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of England and Wales.
</p>

<h2 class="govuk-heading-l">Last updated</h2>
<p class="govuk-body">
  We may need to update these General Terms so we recommend that you revisit this information from time to time.
</p>
<p class="govuk-body">
  This version was last updated on [version updated date]
</p>